body {
  font-family: 'Lato', sans-serif;
}

ul {
  border: solid blue;
  width: 90%
  height: auto;
}

li {
  list-style-type: none;
}

/*
time {
  display: inline-block;
}
*/

time.datetime {
  border: solid purple;
}

time.time {
  border: solid green;
}

section {
  border-radius: .3em;
  width: 60%;
  display:inline-block;
  margin: 1% 0% 0% 20%;
  color: white;
}

section.contentlight {
  background-color: #6cbfee;
}

section.contentdark {
  background-color: #3594CB;
}


h2 {
  width: 95%;
  padding-bottom: 5px;
  border-bottom: white solid thin;
  margin-left: 1em;
  font-weight: 700;
}

p {
  width: 95%;
  margin-left: 1em;
  font-weight: 300;
}
