body { /*entire page with font from google*/
  font-family: 'Lato', sans-serif;
}

ul#everything { /*entire page and all content*/
  width: 90%
  height: auto;
}

ul.timelist { /* grouping of the date and time*/
  width: 15%;
  text-align: right;
  margin-bottom: -5%;
}

li { /*each blue box with date and time*/
  list-style-type: none;
}

time.datetime { /*date*/
  color: gray;
  display: inline-block;
}

time.timelight { /*time light*/
  color: #6cbfee;
  font-size: 2em;

}

time.timedark { /*time dark*/
  color: #3594CB;
  font-size: 2em;

}

section { /* right side of page with rectangle boxes*/
  border-radius: .3em;
  width: 60%;
  display:inline-block;
  margin: 1% 0% 0% 30%;
  color: white;
}

section.contentlight { /*light blue rectangle*/
  background-color: #6cbfee;
}

section.contentdark { /*darker blue rectangle*/
  background-color: #3594CB;
}


h2 { /* heading inside blue rectangles */
  width: 95%;
  padding-bottom: 5px;
  border-bottom: white solid thin;
  margin-left: 1em;
  font-weight: 700;
}

p { /* text inside blue rectangles */
  width: 95%;
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3em;
}


div.line {
  border-left: solid #6cbfee;
  height: 300px;
  width: 5%;
  margin-left: 20%;
  margin-right: 0%;
  display:inline-block;


}
