body {
  font-family: 'Lato', sans-serif;
}

ul {
  border: solid blue;
}

time.datetime {
  border: solid purple;
}

time.time {
  border: solid green;
}

section.content {
  border: solid black;

}
